{
    "presets": ["@babel/preset-env"],
    "plugins": ["transform-ternary-to-if-else"],
    "env": {
        "production": {
            "presets": ["@babel/preset-env", "minify"],
            "comments": false,
            "plugins": ["transform-ternary-to-if-else"]
        }
    }
}